<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "description": "{{ .Site.Params.description }}"
}
</script>
{{ else if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "{{ .Title }}",
  "image": [
    "{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Params.images | index 0 | absURL }}{{ end }}"
  ],
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": [{
    "@type": "Person",
    "name": "{{ .Params.author | default .Site.Params.author }}"
  }]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ .Site.BaseURL }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "{{ .Title }}",
    "item": "{{ .Permalink }}"
  }]
}
</script>
{{ end }}
<meta name="keywords" content="Generative AI, AI News, ChatGPT, LLM, Midjourney, AI Trends, Artificial Intelligence">
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="GenAI News Hub" />
<link rel="canonical" href="{{ .Permalink }}">
